*{
  margin: 0;
  padding: 0;
}
.parent{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: cornsilk;
  width: 100vw;
  min-height: 100vh;
  padding: 20px;

}
.Card{
  /* padding-left: 80px; */
  border-radius: 8px;
  height: 200px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(79, 153, 232);
  flex-direction: column;
  margin-left: 20px;
  transition: 0.3s ease, box-shadow 0.3s ease;

}
.imageBox img{
 object-fit: cover;
 width: 100%;
 height: 100%;
 border-radius: 8px;
 opacity: 0.7;

}
.top{
  padding-top: 6px 10px;
  /* z-index: +1; */
  position: absolute;
  top: 15px;
  left:15px;
  text-shadow: 0 2px 8px rgba(251, 244, 244, 0.7);
  border-radius: 6px;
  background: rgba(0,0,0,0.35);


}
.top h3{
  font-size: 14px;
}
.top h1{
  font-size: 22px;
  font-weight: bold;
}
.centre{
  padding-bottom: 20px;
  z-index: +1;
  position:absolute;
  top: 100px;
  left:15px;
}
.imageBox{
  position: relative;
  width: 300px;
  height: 200px;
}
.Card:hover{
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}